<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paymentwall>
                <active>1</active>
                <model>Paymentwall\Paymentwall\Model\Paymentwall</model>
                <order_status>pending_payment</order_status>
                <title>Paymentwall</title>
                <allowspecific>0</allowspecific>
            </paymentwall>
        </payment>
    </default>
</config>
