<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <paymentwall>
                <active>1</active>
                <model>Paymentwall\Paymentwall\Model\Paymentwall</model>
                <order_status>pending_payment</order_status>
                <title>Paymentwall</title>
                <allowspecific>0</allowspecific>
            </paymentwall>
            <brick>
                <active>1</active>
                <model>BrickFacade</model>
                <merchant_gateway_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <order_status>pending_payment</order_status>
                <payment_action>authorize_capture</payment_action>
                <title>Credit &amp; debit cards</title>
                <currency>USD</currency>
                <can_capture>1</can_capture>
                <can_use_checkout>1</can_use_checkout>
                <is_gateway>1</is_gateway>
                <sort_order>1</sort_order>
                <paymentInfoKeys>card_type,card_last4</paymentInfoKeys>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
            </brick>
        </payment>
    </default>
</config>
