<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="Paymentwall_Paymentwall_Order_Save_After" instance="Paymentwall\Paymentwall\Observer\PWObserver" />
    </event>
    <event name="sales_order_shipment_track_save_after">
        <observer name="Paymentwall_Paymentwall_Order_Shipment_Track_Save_After" instance="Paymentwall\Paymentwall\Observer\OrderShipmentTrackObserver" />
    </event>
    <event name="payment_method_assign_data_brick">
        <observer name="pwbrick_gateway_data_assign" instance="Paymentwall\Paymentwall\Observer\DataAssignObserver" />
    </event>
    <event name="sales_model_service_quote_submit_success">
        <observer name="pwbrick_gateway_order_handler" instance="Paymentwall\Paymentwall\Observer\OrderHandlerObserver" />
    </event>
    <event name="sales_order_place_after">
        <observer name="Paymentwall_Paymentwall_event_email_stopper" instance="Paymentwall\Paymentwall\Observer\OrderEmailStop" />
    </event>
</config>
